<script setup>
import CharacterInfo from "../components/CharacterInfo.vue";
import MarvelSpinner from "../components/MarvelSpinner.vue";

</script>

<template>
  <Suspense class="min-h-full">
      <CharacterInfo/>
      <template #fallback>
       <MarvelSpinner style="height: 100vh" />
      </template>
    </Suspense>
</template>

