<script setup>
import GridList from "../components/GridList.vue";
import MarvelSpinner from "../components/MarvelSpinner.vue";
import SearchElement from "../components/SearchElement.vue";
</script>

<template>
  <SearchElement type="characters" />
  <Suspense class="min-h-full">
    <grid-list type="character" />
    <template #fallback>
      <MarvelSpinner style="height: 100vh" />
    </template>
  </Suspense>
</template>

<style scoped>

</style>
