<script setup>
import Comic from "../components/ComicInfo.vue"
import MarvelSpinner from "../components/MarvelSpinner.vue";

</script>

<template>
  <Suspense class="min-h-full">
      <comic/>
      <template #fallback>
        <MarvelSpinner style="height: 100vh" />
      </template>
    </Suspense>
</template>

