<script setup>
import GridList from "../components/GridList.vue";
import SearchElement from "../components/SearchElement.vue";
import MarvelSpinner from "../components/MarvelSpinner.vue";

</script>

<template>
  <SearchElement type="comics" />
    <Suspense class="min-h-full">
      <grid-list type="comic" />
      <template #fallback >
        <MarvelSpinner style="height: 100vh" />
      </template>
    </Suspense>
</template>

<style scoped>

</style>
