<template>
  <div class="grid place-items-center h-48 grid-cols-2 mt-24">
    <button
      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
    >
      <router-link to="/comics">
        <span>Bandes dessinées</span>
        <img src="../../public/images/comic.jpg" class="object-contain w-80"  alt="comics"/>
      </router-link>
    </button>
    <button
      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
    >
      <router-link to="/characters"
        ><span>Personnages</span
        ><img
          src="../../public/images/character.jpg"
          class="object-contain w-80"
       alt="personnage"/></router-link>
    </button>
  </div>
</template>
