<script setup>
import { useRoute } from "vue-router";
import { useFetcher } from "../hooks/useFetcher";
import { useImage } from "../hooks/useImage";
import GridItem from "./GridItem.vue";
import { params} from "../axios";
import axios from "axios";

const route = useRoute();
async function comicFetcher() {
  return await axios.get(
    `http://gateway.marvel.com/v1/public/comics/${route.params.id}`,
    { params }
  );
}
let { data, getData } = useFetcher(comicFetcher);
await getData();
const comic = data.value.data.data.results[0] || null;
const { image } = useImage(comic);

async function characterFetcher() {
  return await axios.get(
    `http://gateway.marvel.com/v1/public/comics/${route.params.id}/characters`,
    { params }
  );
}
({ data, getData } = useFetcher(characterFetcher));
await getData();
const characters = data.value.data.data.results || null;
</script>

<template>
  <div class="pt-8 pb-16" style="min-height: calc(100vh - 5rem)">
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <div
          class="p-1 rounded-xl group sm:flex space-x-6 bg-white bg-opacity-70 shadow-xl hover:rounded-2xl"
        >
          <img
            :src="image"
            alt="art cover"
            loading="lazy"
            class="sm:h-full w-full sm:w-1/4 object-cover object-top rounded-lg transition duration-500 group-hover:rounded-xl object-fit"
          />
          <div class="sm:w-3/4 pl-0 p-5">
            <div class="space-y-2">
              <div class="space-y-4">
                <h4 class="text-2xl font-semibold text-cyan-900">
                  {{ comic.title }}
                </h4>
                <p class="text-gray-600">
                  {{ comic.description }}
                </p>
              </div>
            </div>
            <div class="flex flex-wrap m-4">
              <grid-item
                v-for="character in characters"
                :element="character"
                :key="character"
                :width="6"
                :height="8"
                type="character"
                class="text-lg text-center font-marvel uppercase text-red-800"
              >
              </grid-item>
            </div>
            <div class="flex items-end">
              <router-link to="/comics">
                <button class="uppercase text-white border border-red-200 font-bold py-2 px-4 rounded bg-info-text-red text-slate-50 text-2xl font-marvel">
                  Retour
                </button>
              </router-link>
              <a
                  :href="comic.urls && comic.urls.length && comic.urls[0].url"
                  target="_blank"
              >
                <button class="uppercase text-white border border-red-200 font-bold py-2 px-4 rounded bg-info-text-red text-slate-50 text-2xl font-marvel">
                  En savoir plus
                </button>
              </a
              >
            </div>
          </div>
        </div>
    </div>
  </div>
</template>
