<script setup>
import GridItem from "./GridItem.vue";
import {computed, onMounted, onUnmounted, ref, watch} from "vue";
import {useRoute} from "vue-router";
import {params} from "../axios";
import axios from "axios";
import MarvelSpinner from "./MarvelSpinner.vue";

const props = defineProps({
  type: String,
});
async function apiFetcher(page) {
  let limit = 20
  let offset = page ? (page - 1) * limit : 0
  return await axios.get("http://gateway.marvel.com/v1/public/" + props.type + "s", { params: {...params, offset, limit} });
}
const elements = ref([])
const filtered = ref([])
const data = ref(null)
const page = ref(1)
const route = useRoute()
const searchQuery = computed(() => route.query.element)
const loading  = ref(false)
const changeComics = (element) => {
  switch(props.type){
    case "comic":
      filtered.value = element ? elements.value.filter(c => c.title.toUpperCase().includes(element.toUpperCase())) : elements.value
      break;
    case "character":
      filtered.value = element ? elements.value.filter(c => c.name.toUpperCase().includes(element.toUpperCase())) : elements.value
      break;
    default:
      break;
  }
}
const getData = async (page = null) => {
  try {
    data.value = await apiFetcher(page);
    elements.value.push(...data.value.data.data.results)
    changeComics(searchQuery.value)
  } catch (err) {
    console.log(err)
  }
}
await getData()

onMounted(() => {
  window.addEventListener("scroll", handleScroll)
})
onUnmounted(() => {
  window.removeEventListener("scroll", handleScroll)
})
const scrollComponent = ref(null)
const handleScroll = async () => {
  let element = scrollComponent.value;
  if (element.getBoundingClientRect().bottom < window.innerHeight + 10 && !loading.value) {
    page.value = page.value + 1
    loading.value = true
     await getData(page.value)
    loading.value = false
  }
}
watch(() => searchQuery.value, changeComics);
</script>
<template>
  <section style="background: #1f1d1d">
    <div class="container px-3 py-12 mx-auto" style="min-height: calc(100vh - 5rem)" ref="scrollComponent">
      <div class="flex flex-wrap -m-4 justify-center" >
        <grid-item v-for="element in filtered" :key="element" :element="element" :type="props.type"/>
      </div>
    </div>
    <MarvelSpinner class="h-auto mt-5" v-if="loading" />
  </section>
</template>
