<template>
  <div class="flex justify-center items-center spinner-grow">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 654.5 249.8" width="100px">
      <path fill="none" d="M0 0h654.5v249.8H0z" />
      <path fill="#fff" d="M560.7 52.5V11H445l-19 138.8L407.4 11h-41.7l4.7 37c-4.8-9.5-22-37-59.4-37h-42v202.2L238.6 11H184l-31.4 209.5V11h-52.3L81.5 128.7 63.2 11H11v227.8h41V129L71 238.8h22L111 129v109.8h79.5l4.8-35h32l4.7 35h78v-74l9.6-1.4 19.8 75.4h40.3l-26-88.4c13.2-9.7 28-34.4 24-58L402.4 239l48-.2L483 32.3v206.5h77.7v-41h-37v-52.2h37V104h-37V52.5zM200 167.5l11.4-97.3 11.7 97.4h-23zm119.7-45a22.5 22.5 0 0 1-9.7 2.4V51.6h.2c3.3 0 27.3 1 27.3 36.2 0 18.3-8.2 30-17.8 34.6zm324 75.2v41h-76V11h41v186.8h35z" />
    </svg>
  </div>
</template>
