@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    min-width: 100vw;
    min-height: 100vh;
    background: #333333;
    background: -webkit-linear-gradient(to top, #333333, #dd1818);
    background: linear-gradient(to top, #333333, #dd1818);
    overflow-x: hidden;
}

@font-face {
    font-family: "Marvel";
    src: url("/font/Marvel-Regular.ttf");
  }
